extends ./LayoutSleeve.jade
block cabecesar 
	body
		section 
			div
				ul 
					li 
						h2 Proyectos
				
			div 
				ul 
					li
						h3 Pagina Web de Cesar Garzon
						
						p Este es una pagian realizada con Node.js  con los atributos de Jade y express utilizando CSS para realizar animaciones con reponsib designer para poder acceder a esta pagina desde cualquier dispositivo. 
						a(href="/") Pagina de Cesar Garzon


			div 
				ul 
					li
						h3 Tejiendo Paramo
					
						p 	aca encontraras un diseño de pagina de alta fidlidad a la realizad, mostrando la finalidad de la pagina principal realizando el diseño y aplicaicon del este dieño por "Cesar Garzon" 
						a(href="http://cigarzonl1.eshost.com.ar/tejiendo.html") Diseño paramo
			div.helado
				ul 
					li
						h3 Paramos
						
						p 	aca encontraras un diseño de pagina de alta fidlidad a la realizad, mostrando la finalidad de la pagina principal realizando el diseño y aplicaicon del este dieño por "Cesar Garzon" 
						a( href="http://cigarzonl1.eshost.com.ar/Paramo.html") Diseño paramo
		
				