
section
	aside
		ul 
			li 
				h2 contactame 
					p aca encontraras un dise単o de pagina de alta fidlidad a la realizad, mostrando la finalidad de la pagina principal realizando el dise単o y aplicaicon del este die単o por "Cesar Garzon" 
					a( href="http://cigarzonl1.eshost.com.ar/Paramo.html") Dise単o paramo
block aside