doctype html 

html(lang="es")
	head 
		title Cesar Garzon
		meta(charset="utf-8" )
		link(href='./Public/Cesar.css' rel='stylesheet' type='text/css')
		link(href='./Public/style.css' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0", maximum-scale=1.0, minimun-scale="1.0")
	body
		div.contenedor
			header
				nav 	
					ul 
						li 
							a(href="/")
								h1 Cesar Garzon
						li.idioma 
							a(href="#") Idioma
								span 
									i.iconiconicon-bubbles3  
							ul 
								li 
									a(href="#") español
							
								li 
									a(href="#") ingles
						
						li 
							a(href="contactos") Contactenos
								span.icon-newspaper  

			aside
				ul 
					li 
						ul 
							li
								a(href="https://twitter.com/cesargarzonlamp") Twitter  
									span.icon-twitter  
							li
								a(href="https://www.facebook.com/cesargarzonlamprea/") Facebook  
									span.icon-facebook2  
							li
								a(href="https://www.youtube.com/user/cesardeandrea") Youtube  
									span.icon-youtube  
							li
								a(href="https://www.linkedin.com/in/cesar-ivan-garzon-lampre-492b6a64?trk=hp-identity-name") Linkedin  
									span.icon-linkedin


		block cabecesar